#header{
    width:100%;
    height:100px;
    background-color:#000;
}

.DefaultLink {
    cursor: pointer;
    color: #986f38;
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: .1em;
}

.DefaultLink:hover {
    border-bottom: 1px solid #986f38;
}

.fa-chevron-left{
    font-size: 12px;
}

 #conteudo{
    padding-top: 20px;
    margin-bottom: 30px;
    width:100%;
    height:1280px;
    background-color:#FFF;  
}

#conteudo_pt1{
    padding-left: 20%;
    padding-right: 20%;
    width:100%;
    height:40%;
    background-color: #FFF;
}

.container_exibicao{
    margin-top: 30px;
    /* border: 1px dashed grey; */
    display: flex;
    padding-left: 10%;
}

.container_img{
    max-width: 200px;
    max-height: 300px;
    width: 50%;
    height: auto;
    margin-right: 30%;
}

.container_buy{
    width: 50%;
    padding-top: 5%;
}

.box-buy{
    width: 100%;
}

.titulo{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .2em;
    color: #000;
    display: block;
    margin-bottom: -30px;
}

.autor{
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: .2em;
    color: #757575;
    margin-bottom: 50px;
}

.preco{
    font-size: 1.12em;
    letter-spacing: .2em;
    display: block;
    color: #3d8705;
    font-weight: 700;
    margin-top: 20px;
}

.btn-comprar{
    border: 1px solid #3d8705;
    background-color: #3d8705;
    text-align: center;
    font-size: 13px;
    color: #FFF;
    padding: .4em 2.5em;
    width: 70% !important;
    height: 38px;
    border-radius: 3px;
}

.fa-shopping-bag{
    font-size: 20px;
    float: left;
}

.fa-plus{
    font-size: 20px;
    float: right;
}

#conteudo_pt2{
    /* padding-bottom: 20px; */
    width:100%;
    height:60%;
    background-color: #000;
}

.detalhes_produto{
    margin-top: 20px;
    /* border: 1px dashed grey; */
    padding: 2% 10% 2% 10%;
    color: #FFF !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.subtitulos_detalhe{
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 700;
}

#footer{
    width:100%;
    height:240px;
    background-color:#000;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.img_cards{
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 10pt;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

#conteudo_footer{
    display: block;
    width:100%;
    height: auto;
    background-color: #1b1b1b;
    color: #efefef;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#conteudo_footer ul li{
    display: inline;
}

#conteudo_footer ul li a{
    text-decoration: none;
    color: #efefef;
}

#conteudo_footer ul li a:hover{
    border-bottom: 1px solid #efefef;
}

.footer_bottom{
    background-color: #000;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFF;
    font-size: 10px;
}

.social_network{
    margin-right: 25%;
}

.social_network ul li{
    display: inline;
}

.footer_link{
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
}

.footer_link:hover{
    text-decoration: none;
    color: #FFF;
}

.page_top{
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    color: #000;
    font-size: 1em;
    text-align: center;
    width: 1em;
    height: 1em;
    line-height: 1.4em;
    vertical-align: middle;
}

.trademark{
    margin-left: 30%;
}